@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,600&display=swap');


body{
    background-attachment: fixed;    
    background-image: linear-gradient(90deg,#66000E, #C8384B);
    font-size: 16px;
}

h1{
    font-size: 5em;
    font-family: 'Dancing Script', cursiva;
    
    text-align: center;
    color: rgb(233, 105, 111);
    text-shadow: 1px 1px 10px black;
}

h2{
    color: rgb(248, 171, 175);
    font-family: 'Dancing Script', cursiva;
    font-weight: 100;
    font-size: 3em;
    text-align:center;
}

.oi:hover{
    color: rgb(0, 26, 255);
    background-color: rgba(255, 255, 255, 0.37);
    
}



p{
    margin: auto;
  
    font-weight: 300;
    font-family:'Montserrat', sans-serif;
    font-size: 1em;
    color: rgb(248, 171, 175);
     
}

main{
    margin: 100px;
    width: 1000px;
    padding: 10px;
}
